html, main{
    background-color: #0e1518;
    color: #ff981a;
    padding: 15px;
}

body {
    overflow: hidden;
}

/* Content in body related */
#phoneImage{
    object-fit: contain;
}

.bottom-line{
    border-bottom: 1px solid #a67358;
}

#show1 img, #show2 img, #show3 img{
    display: inline-block;
}

#show1 p, #show2 p, #show3 p{
    width: 100%;
    display: inline-block;
    word-wrap: break-word;
}

.mr-md-15 {
    margin-right: 0.375rem !important;
}

.col-md-3{
    border: 2px solid #093644;
    border-radius: 10px;
    transition: border-color 0.8s;
}

.col-md-3:hover{
    border-color: #4b8bad;
}
/* */

/* Modal related */
.modal-backdrop
{
    opacity:0.5 !important;    
}

.modal-header{
    border-bottom: 1px solid #a67358 !important;
}

.modal-footer{
    border-top: 1px solid #a67358 !important;
}

.modal-content{
    background-color: #0e1518 !important;
    color: #ff981a !important;
    border-radius: 100px;
}

.close{
    text-shadow: none !important;
    color: #ff981a !important;
}

.btn-primary{
    color: #093644 !important;
    background-color: #ff981a !important;
    border-color: #ff981a !important;
}

.btn-secondary{
    color: #ff981a !important;
    background-color: #093644 !important;
    border-color: #ff981a !important;
}
/* */