
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #0e1518;
    z-index: 9999;
    transition: opacity 0.5s ease-out;
    opacity: 1;
  }
  /* Loading wheel styling */
  .loader .spinner-border {
    width: 4rem;
    height: 4rem;
    color: #ff981a;
  }
  /* Hide website content by default */
  .content {
    display: none;
  }
  /* Fade out animation for the loader */
  .loader.fade-out {
    opacity: 0;
  }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Goldman', cursive;
  }
  
  .background {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e1518;
    z-index: -1;
  }
  
  .square {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ff981a;
    margin: 50px;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    opacity: 40%;
  }
  
  @keyframes move {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(200px, 200px);
    }
  }
  
  .square2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #a67358;
    margin: 50px;
    animation-name: move2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    opacity: 40%;
  }
  
  @keyframes move2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(150px, 150px);
    }
  }
  
  .square3 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #5d3f58;
    margin: 50px;
    animation-name: move3;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    opacity: 40%;
  }
  
  @keyframes move3 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(100px, 100px);
    }
  }

.account-block {
    padding: 0;
    background-color: #5d3f58;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    border-radius: 15px;
}
.account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.account-block .account-testimonial {
    text-align: center;
    color: #ff981a;
    position: absolute;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}
.btn:not(:disabled):not(.disabled) {
    background-color: #5d3f58;
    color:#ff981a;
}
#btn_forpass
{
    float: right;
}
.text-theme {
    color: #5d3f58 !important;
}

.btn-theme {
    background-color: #5d3f58;
    border-color: #5d3f58;
    color: #fff;
}
.col-lg-6{
    background-color: #ff981a;
    color: #5d3f58;
    border-radius: 15px;
}
.card {
    background-color: transparent;
}
#logoimage{
    display: block;
    width: 50%;
    /*padding-top: 5%;*/
}
#darkSentence{
    color: white;
}


/*      REGISTER page       */

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    background-color: #ff981a;
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}
.row .g-0{
    background-color: #ff981a;
    border-radius: 20px;
}
.h-100 .bg-dark{
    background-color: #0e1518;
}
.col-xl-6{
    background-color: #ff981a;
    border-radius: 20px;
}
.btn-theme {
    background-color: #5d3f58;
    border-color: #5d3f58;
    color: #fff;
}

.container2{
    font-size: 1.5em;
    color: #fff;
    size: 400%;
}
.col {
    margin-top: 10%;
}
#iconRegister{
    margin-right: 10%;
}
#registerForm{
    border: 2px solid #fff; 
    border-radius: 15px;
}
#registerBackground{
background-color: transparent !important;
}
#btnRegister{
    background-color: #5d3f58;
    color: #fff;
    border-color: #5d3f58;
}
#btnClear{
    background-color: transparent;
    color: #fff;
    border-color: transparent;
}
#registerLetter{
    text-align: center;
}
/*   btn effect hover */
#hover_effect:hover, #btn_forpass:hover{
color: #0e1518 ;
transition: 0.5s;
}